/* common shered style  */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
/* nav related style */
nav{
    display: flex;
    justify-content: space-around;
    
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    color: #181818;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}

/* header reelated styles */
.header{
   background-color: #FFF8F3;
   background-image: url(../images/header_bg.png);
   background-repeat: no-repeat;
   background-position:  bottom right;
}
.banner{
    padding: 30px  30px  OPX 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profile-pic{
    width: 500px;
}
.banner-greething{
    font-size: 45px;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin: 0px 0px;
    
}
.banner-description{
    margin: 20px 30px;
}

/* main section style */
main{
    max-width: 1140px;
    margin: 0px auto;
}
main section{
    margin-top: 130px;
}

/* about section style */
.about{
    padding: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    margin: 130px 0px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
    /* what i do/skill related style */
}
#what-i-do-description{
    padding: 30px 150px;

}
.skill-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
}
.skill-description{
    color: #757575;

}
/* resume section  styles*/
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;

}